<div class="container-fluid">
	<div class="row-fluid">
		<h1>SeqWare Query Engine</h1>
		<a href="#/upload">
			<div class="col-xs-6 home block">
				<h2>Upload Variants</h2>
			</div>
		</a>
		<a href="#/query">
			<div class="col-xs-6 home block">
				<h2>Query Variants</h2>
			</div>
		</a>
	</div>
	<div class="row-fluid">
		<div class="span12 home">
			<br/>
			<br/>Database Currently Contains
			<br/>{{ database.variants }} Variants
			<br/>{{ database.samples }} Samples
		</div>
	</div>
</div>