<div class="container-fluid" ng-controller="QueryCtrl">
	<div class="row-fluid">
		<div class="col-xs-6">
			<h1>SeqWare Query Engine</h1>
			<h2>Query VCFs</h2>
			<p>Fields with an asterisk(*) are required</p>
			<label for="featureSetId">FeatureSet Id: * </label><input class="form-control" ng-model="parameters.featureSetId"/><br/>
			<label for="query">Query : *</label><input class="form-control" ng-model="parameters.query"/><br/>
			<button ng-click="runQuery()" href="#" class="btn btn-default">Query</button><br/>
			<br/><pre>Query JSON = {{ parameters | json }}</pre>
			<pre>Previous Query = {{ master | json }}</pre>
		</div>
			
		<div class="col-xs-6">
			<h2>Results</h2>
			<pre>response = {{ response | json }}</pre>
			<a class="btn btn-default" ng-disabled="isDisabled" ng-href="{{ fileUrl }}" download="{{ response.sgid }}.vcf" ng-click="disable()">Download VCF</a><br/-->
			<!--a href="#" class="btn btn-default" ng-click="toClipboard()">Copy Query URL</a><br/-->
		</div>
	</div>
</div>