
<div class="container-fluid" ng-controller="UploadCtrl">
	<div class="row-fluid">
		<div class="span6">
			<h1>SeqWare Query Engine</h1>
			<h2>Add New Variants</h2>
			<!--
			Compressed? <input type="checkbox" ng-model="isCompressed" /><br /> -->
			<label for="vcfFile">VCF File : </label>			
			<input type="file" ng-file-select="onFileSelect($files)" >
			<br/>

			<!--input type="file" file-model="myFile" -->
			<pre>
				Variant Upload Response = {{ variantResponse }}
			</pre>

			<h2>Add New Reads</h2>
			<label for="samFile">SAM or BAM File : </label>
			<input type="file" ng-file-select="onSAMFileSelect($files)" ><br/>
			<pre>
				Read Upload Response = {{ readResponse }}
			</pre>
		</div>
	</div>
</div>